label {
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
   
   
   
    
}
.blog {

    border: 1px dotted #0B3948;

    max-width: 700px;
    padding: 10px;

    font-family: 'Sacramento', cursive;

    font-size: 2.5em;

    background-color:rgba(101, 146, 121, 0.25);

    margin: 20px 0 20px 0;
}

h3 {
    size: 4em;
}

img {

    max-width: 400px;
    max-height: 400px;
}